*{
    margin: 0;
    padding: 0;
    font-family: 'Caudex', serif;
}

body{
    background-color: black;
    color: white;
    margin: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1{
    font-size:24px;
    font-weight: 400;
}

a{
    font-size:24px;
    color: rgb(142, 146, 255);
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}