*{
  margin: 0;
  padding: 0;
  height: 100vh;
  height: -webkit-fill-available;
  font-family: 'Space Mono', monospace;
}

body{
  background-color: black;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.sequencer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  
  display: grid;
  grid-template-columns: repeat(8, auto);
}
  
.note {
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  line-height: 200%;
  background-color: white;
  color: black;
  transition: ease-out 120ms;
}

.note-is-active {
    background-color: rgb(149, 146, 254);
    border-radius: 48px;
    color: black;
}

.playing{
    background-color: rgb(255, 125, 125);
    border-radius: 0 0 40% 40%;
    font-weight: bold;
    font-size: 32px;
}

@media only screen and (max-width: 800px) {

  .sequencer{
    width: 100%;
    height: 75%;
  }
  .note{
    font-size: 10px;
    letter-spacing: 1px;
  }

  .note-is-active {
    border-radius: 25px;
  }

  .playing{
    background-color: rgb(255, 125, 125);
    border-radius: 0 0 25px 25px;
    font-weight: bold;
    font-size: 24px;
}

}