*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.sequencer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: fit-content;
  margin: auto;
}

.note {
  height: 100%;
  width: 12.5%;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 3vw;
  border-color: black;
  outline: none;
  background: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: black;
  color:white;
}

.sequencer-row {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: calc(16.67vh - 8px);
}

.note-is-active {
    background-color: white;
    color: black;
  }
  

.toggle-play {
  display: flex;
}

.play-button {
    width: 100%;
    height: 48px;
    margin: auto;
    border-style: solid;
    border-width: 0.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: black;
    background-color: black;
    color: white;
}